<div>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
</div>

<!-- <app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is from ng-content</h1>
</app-container>

<div #name></div> -->

<!-- <div>
  <h1>Hello world</h1>
  <app-rooms></app-rooms>

  <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">Welcome User!</div>
    <div *ngSwitchCase="'Admin'">Welcome Admin!</div>
    <div *ngSwitchDefault>You are not authorized to view this page!</div>
  </div>
</div> -->
<!--
<div>
  <ng-template #user></ng-template>
</div> -->
