<!-- <h1>Welcome to {{ hotelName }}</h1> -->
<app-header></app-header>
<div [hidden]="hideRooms">
  Number of rooms
  <div
    [ngStyle]="{ color: rooms.availableRooms > 0 ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<!-- {{ rooms.availableRooms ?? "No rooms" }} -->
<!-- {{ roomList | json }} -->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list
    [rooms]="roomList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
